
/* .row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
} */
/* .col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
} */

.text-right {
  text-align: right;
}


button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}

.navigation
{
  background-color: rgb(99, 96, 96);
}
.morn
{
  color: white;
}
